body {
    margin: 25;
    padding: 70;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

table {
    height: 300px;
    width: 700px;
    padding: 1;
    border: 2px solid;
    border-radius: 20px;
    background-image: url(ktp01.jpg);
    background-repeat: no-repeat;
    font-family: Arial;
    background-size: cover;
}

th{
    padding:0.5px;
    font-size: large;   
    font-weight: bold;
}
td {
    padding: 0.5px;
}

.img {
    height: 50px;
    width: 120px;
}
.fd {
    height: 175px;
    width: 120px;
    padding-left: 70px;
    padding-right: 35px;
}
.pad {
    padding-left: 100;
}


